<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autreCommerce">
            <h2><span jhiTranslate="coopcycleApp.autreCommerce.detail.title">Autre Commerce</span> {{ autreCommerce.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.autreCommerce.typeCommerce">Type Commerce</span></dt>
                <dd>
                    <span>{{ autreCommerce.typeCommerce }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/autre-commerce', autreCommerce.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
